table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-card {
    margin-left: 33px !important;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 30px 30px 15px;
}