.menu-container {
    width: 100%;
    height: 574pt;
}

.toolbar {
    height: 200px;
    background-color: #53947e;
}

.side-menu
{
    width: 18%;
    background-color: #53947e;
}

.side-menu-list {
    color: white;
}

.logo {
    width: 8%;
    height: 84%;
}

button {
    margin: 5%;
}

.side-menu-list{
    width: 90% !important;
}

mat-drawer-content {
    background-color: #b7b8b6;
}
