.menu-container {
    width: 100%;
    height: 500pt;
}

.side-menu
{
    width: 18%;
    background-color: #445687;
}

.side-menu-list {
    color: white;
}

.logo {
    width: 8%;
    height: 84%;
}