:root {
    font-size: 14px;
    background: #ff0000;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.logo {
    width: 8%;
    height: 84%;
}

.login-card {
    width: 30%;
    height: auto;
    margin: auto;
    padding-top: 5%;
}

.toolbar {
    height: 200px;
    background-color: #445687;
}