<mat-toolbar style="background-color: #445687">
    <img class="logo" src="assets/images/grimms.png">
</mat-toolbar>
<div class="login-card">
    <div style="text-align: center">
        <h2>Sign In</h2>
    </div>   
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <span id="errorMsg"></span>
        </div>
        <mat-form-field class="full-width" appearance="fill">
            <input matInput placeholder="username" formControlName="username" required>
            <mat-error *ngIf="loginForm.controls.username.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
            <mat-error><span *ngIf="loginForm.controls.username.dirty">White Space not allowed </span></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <!-- <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> -->
            <input matInput placeholder="Password" type="password" formControlName="password" name="password" required
                autocomplete="off" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div style="text-align: center; font-size: 12px;">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
    </form>
</div>