:root {
    font-size: 14px;
    background: #ff0000;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.role-width {
    width:20%;
}

.label-width {
    font-size: 14px;
    margin-right: 12px;
}

.logo {
    width: 8%;
    height: 84%;
}

.login-card {
    border-radius: 20px;
    width: 25%;
    height: auto;
    margin: auto;
    margin-top: 16%;
    padding: 5%;
    background-color: #b59f9f;
    box-shadow: rgba(0, 0, 0, 0.3) 30px 30px 15px;
}

.toolbar {
    height: 200px;
    background-color: #53947e;
}