.registration-card {
    width: 30%;
    height: auto;
    margin: auto;
    padding-top: 1%;
    margin-top: 5%;
    border: 1px solid black;
}

.logo {
    width: 8%;
    height: 84%;
}

.full-width {
    width: 100%;
}

.toolbar {
    height: 200px;
    background-color: #445687;
}