.toolbar {
    height: 200px;
    background-color: #53947e;
}

.logo {
    width: 8%;
    height: 84%;
}

.menu-container {
    width: 100%;
    height: 616pt;
}

.side-menu
{
    width: 15%;
    background-color: #446367;
}

.side-menu-list {
    color: white;
}

button {
    margin: 5%;
}

// .side-menu-list{
//     width: 90% !important;
// }
