/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin : 0 !important;
    // overflow : hidden;
    // .element::-webkit-scrollbar { width: 0 !important }
    // position: absolute;
}
// html {
//     overflow:   scroll;
// }
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

